#game_overlay {
	position:relative;
}

.game_canvas {
	position:absolute;
	left:0px;
	top:0px;
}

.gui_window {
    z-index: 200;
    border: 3px ridge  #400000;
    position: absolute;
    background: grey;
    padding: 0px;
    border-collapse: collapse;
    overflow: hidden;
}

.handle_graphic, .resize_graphic, .closer_graphic {
    position: absolute;
    display:block;
    height: 16px;
}

.resize_graphic {
    width: 16px;
    cursor: nwse-resize;
    float: bottom;
    right: 0;
    bottom: 0;
}

.closer_graphic {
    right: 0;
    top: 0;
    width: 16px;
    text-align: center;
    cursor: pointer;
}

.handle_graphic {
    width: 100%;
    top: 0;
    cursor: move;
    padding-bottom: 5px;
    border-bottom: 2px ridge #333333;
    background: orange;
}


.window_content {
    position: absolute;
    width: 100%;
    height: 100%;
}

#grid {
    overflow: hidden;
}